.dados-medicamentos , .dados-funcionario{
    width: 100vw;
    padding: 1rem 3rem 0 ;
    gap: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.dados-medicamentos h3{
    border-radius: .3rem;
    padding: 0 1rem;
    font-size: 20px;
    color: #e2e2e2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dados-medicamentos, .dados-funcionario{
    display: flex;
    flex-direction: column;
    background-color: gray;
    gap: 2rem;
}